.icon-home {
	background: url(../icon/home.png) no-repeat center center;
}
.icon-archive {
	background: url(../icon/archive.png) no-repeat center center;
}
.icon-setting {
	background: url(../icon/setting.png) no-repeat center center;
}